* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-highlight: #2ecc71;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-image: url('assets/img/background.jpg'); /* Ruta de la imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Fija el fondo para que no se mueva al hacer scroll */
  color: rgba(255, 255, 255, 0.87);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 100%;
  max-height: 100%;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

button {
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
  border: solid 1px var(--green-highlight);
  border-radius: 4px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
